@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(10 10 10);
  color: rgb(243 244 246);
  -webkit-font-smoothing: antialiased;
}
